<html>
  <head>
  </head>
  <body>
  	
  	"Match XXX" button 		----> redirect to '/arena'
  	"Create Match" button 	----> redirect to '/arena'
  	"Quit Match XXX" button ----> redirect to '/control_panel'
  	Logo button 			----> redirect to '/'
  	"Log out" button 		----> redirect to '/signout'
  	


  </body>
</html>
