<html>
  <head>
  </head>
  <body>
  	
  	"Go Back to Login" button ----> redirect to '/signup'
  	Logo button 			  ----> redirect to '/'
  	POST "Create Account" 		  ----> redirect to '/control_panel'


  </body>
</html>
