<html>
  <head>
  </head>
  <body>
  	
  	"Quit Current Match" button      ----> redirect to '/control_panel'
    "Log out" button                 ----> redirect to '/signout'
    POST "Rock", "Paper", "Scissors" ----> redirect to '/arena'
    POST "Create Match" button       ----> redirect to '/arena'
    POST "Match XXXX" buttons         ----> redirect to '/arena'
  	


  </body>
</html>
