<html>
  <head>
  </head>
  <body>
  	
  	"Go Back to Home" button ----> redirect to '/'
  	Logo button 			    	 ----> redirect to '/'
  	POST "Login"				     ----> redirect to '/control_panel'


  </body>
</html>
