@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/labels",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",


// COLORS:    Red           - #ae101d
//            Gray          - #3d3d3c
//            Light Gray    - #737373
//            Black         - #000000



////////////////////////////////////////
//      PAGE STYLES
//////////////////////////////////////// 
.signup-button, .create-account-button, .return-to-home, .black-button {
  background-color: #000000;
}

.login-button, .return-to-login-button, .red-button  {
  background-color: #ae101d;
}

.logout-button, .gray-button {
  background-color: #3d3d3c;
}

.top-mar {
  margin-top: 4em;
}


////////////////////////////////////////
//      HEADER STYLES
//////////////////////////////////////// 
#logo-group {
  margin-top: .75em;
  margin-bottom: -2em
}







////////////////////////////////////////
//      BUTTON RESIZE STYLES
//////////////////////////////////////// 











////////////////////////////////////////
//      CENTER DIV STYLES
//////////////////////////////////////// 
#splash-image {
  margin-left: 1.75em;
}














////////////////////////////////////////
//      RIGHT SIDEBAR STYLES
//////////////////////////////////////// 








////////////////////////////////////////
//      ARENA ONLY STYLES
//////////////////////////////////////// 
















