<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <!-- <div class="row"> -->
      <div class="large-12 columns">
        <div id="logo-group" class="large-3 columns left">
          <a href="/control_panel"><img src="images/URPS.png" alt="URPS Logo" width="100"></a>
          <h6>Let's Get It On!</h6>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="large-4 columns top-mar">
          <h3 class="text-center">Player 1</h3>
          <ul class="button-group large-offset-2">
            <li><a href="#" class="tiny button">Log Out</a></li>
            <li><a href="/control_panel" class="tiny button">Control Panel</a></li>
            <li><a href="/control_panel" class="tiny button">Quit Match</a></li>
          </ul>
          <div class="panel">
            <form action="/arena/:match_id/:id">
              <a href="#" class="button expand red-button">Rock</a>
              <a href="#" class="button expand red-button">Paper</a>
              <a href="#" class="button expand red-button">Scissors</a>
            </form>
          </div>
          <h3 class="text-center">Active Matches</h3>
        </div>
        <div class="large-4 columns top-mar">
          <div>
            <!-- Alert for Match Win/Lose/Tie Status -->
            <h1 id="match-result" class="text-center">
              <% if flash[:alert] %>
                <%= flash[:alert] %>
              <% end %>
            </h1>
            <h1 class="text-center">Match ID</h1>
            <div>
              <img src="images/octagon.png" alt="">
            </div>
            <h1 class="text-center">Round #</h1>
          </div>
        </div>
        <div class="large-4 columns top-mar" >
          <div>
            <h3 class="text-center">Player 2</h3><br><br>
            <div class="panel" id="panel-height">
              <p class="text-center" id="panel-vert-text-centr">Player 2 Status</p>
            </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="large-12 columns">
          <div><br><br></br></div>
        </div>
      </div>
      
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>