        <div class="large-3 columns">
          <a href="/signout" class="button [tiny small large] right">Logout</a> 
        </div>
      </div>

      <div class="large-5 columns left">
        <div class="panel">
          <table>
            <thead>
              <tr>
                <th class="text-center" width="168">Total Matches</th>
                <th class="text-center" width="168">Match Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Match Wins Here</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="text-center" width="168">Match Losses</th>
                <th class="text-center" width="168">Game Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Wins Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Game Losses</th>
                <th class="text-center" width="168">Game Ties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Total Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Favorite Move</th>
                <th class="text-center" width="168">Highest Winning Move</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">Move Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Lowest Winning Move</th>
                <th class="text-center" width="168">Rock %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Paper %</th>
                <th class="text-center" width="168">Scissors %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">% Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="large-7 columns left">
        <div class="panel">
          <h3 class="text-center">Active Matches</h3>
          <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
              <a href="#panel1" class="text-center">Match 1</a>
              <div id="panel1" class="content active">
                <a href="#" class="button expand">Your Move</a>
                <a href="#" class="button expand">Quit Match</a>
                <table>
                  <thead>
                    <tr>
                      <th class="text-center" width="20">Round</th>
                      <th class="text-center" width="30">Status</th>
                      <th class="text-center" width="50">Opponent</th>
                      <th class="text-center" width="50">Player 1</th>
                      <th class="text-center" width="60">Player 2</th>
                      <th class="text-center" width="50">Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">Round Here</td>
                      <td class="text-center">Current Status</td>
                      <td class="text-center">Opponent Name</td>
                      <td class="text-center">Player 1 Moves Here</td>
                      <td class="text-center">Player 2 Moves Here</td>
                      <td class="text-center">Match Result Here</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel2" class="text-center">Match 2</a>
              <div id="panel2" class="content">
                <a href="#" class="button expand">Opponent's Move</a>
                <a href="#" class="button expand">Quit Match</a>
                <table>
                  <thead>
                    <tr>
                      <th class="text-center" width="20">Round</th>
                      <th class="text-center" width="30">Status</th>
                      <th class="text-center" width="50">Opponent</th>
                      <th class="text-center" width="50">Player 1</th>
                      <th class="text-center" width="60">Player 2</th>
                      <th class="text-center" width="50">Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">Round Here</td>
                      <td class="text-center">Current Status</td>
                      <td class="text-center">Opponent Name</td>
                      <td class="text-center">Player 1 Moves Here</td>
                      <td class="text-center">Player 2 Moves Here</td>
                      <td class="text-center">Match Result Here</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel3" class="text-center">Match 3</a>
              <div id="panel3" class="content">
                <a href="#" class="button expand">Your Move</a>
                <a href="#" class="button expand">Quit Match</a>
                <table>
                  <thead>
                    <tr>
                      <th class="text-center" width="20">Round</th>
                      <th class="text-center" width="30">Status</th>
                      <th class="text-center" width="50">Opponent</th>
                      <th class="text-center" width="50">Player 1</th>
                      <th class="text-center" width="60">Player 2</th>
                      <th class="text-center" width="50">Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">Round Here</td>
                      <td class="text-center">Current Status</td>
                      <td class="text-center">Opponent Name</td>
                      <td class="text-center">Player 1 Moves Here</td>
                      <td class="text-center">Player 2 Moves Here</td>
                      <td class="text-center">Match Result Here</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </dd>
          </dl>
        </div>
        <form action = "" method = "post">
          <!-- <a href="/arena" class="button expand">Create Match</a> -->
          <input type="submit" class="button expand" name="create-match" value="Create Match"/>
        </form>
      </div>