      <div class="large-3 columns">
          <a href="#" class="button [tiny small large] right">Logout</a> 
        </div>
      </div>

      <div class="large-5 columns left">
        <div class="panel">
          <table>
            <thead>
              <tr>
                <th class="text-center" width="168">Total Matches</th>
                <th class="text-center" width="168">Match Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Match Wins Here</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="text-center" width="168">Match Losses</th>
                <th class="text-center" width="168">Game Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Wins Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Game Losses</th>
                <th class="text-center" width="168">Game Ties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Total Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Favorite Move</th>
                <th class="text-center" width="168">Highest Winning Move</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">Move Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Lowest Winning Move</th>
                <th class="text-center" width="168">Rock %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Paper %</th>
                <th class="text-center" width="168">Scissors %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">% Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="large-7 columns left">
        <div class="panel">
          <h3 class="text-center">Active Matches</h3>
          <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
              <a href="#panel1">Match 1</a>
              <div id="panel1" class="content active">
                <table>
                  <thead>
                    <tr>
                      <th class="text-center" width="20">Game ID</th>
                      <th class="text-center" width="30">Status</th>
                      <th class="text-center" width="50">Opponent</th>
                      <th class="text-center" width="50">Player 1</th>
                      <th class="text-center" width="60">Player 2</th>
                      <th class="text-center" width="50">Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel2">Match 2</a>
              <div id="panel2" class="content">
                <table>
                  <thead>
                    <tr>
                      <th width="100">Table Header</th>
                      <th>Table Header</th>
                      <th width="50">Table Header</th>
                      <th width="50">Table Header</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                    <tr>
                      <td>Content Goes Here</td>
                      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                      <td>Content Goes Here</td>
                      <td>Content Goes Here</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </dd>
          </dl>
        </div>

      <!-- <div class="large-6 columns right">
        <div class="panel">
          <table>
            <thead>
              <tr>
                <th width="100">Table Header</th>
                <th>Table Header</th>
                <th width="50">Table Header</th>
                <th width="50">Table Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
            </tbody>
          </table>
        </div> -->
          <ul class="button-group round even-4 right">
            <li><a href="#" class="[tiny small large] button alert [disabled]">Create Match</a></li>
            <li><a href="#" class="[tiny small large] button alert [disabled]">Go To Arena</a></li>
            <li><a href="#" class="[tiny small large] button alert [disabled]">Quit Match</a></li>
          </ul>
      </div>
    </div>
  