    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <div class="large-12 large-offset-3 columns">
            
              <img src="../images/URPS.png" alt="URPS Logo" width="400">
          </div>
              <h1 class="text-center">Let's Get It On!</h1>
              <br><br>
              <!-- <div class="large-8columns"> -->
                <a href="/signup" class="button expand signup-button">Sign Up</a> 
                <a href="/signin" class="button expand login-button">Login</a> 
             <!--  </div> -->
            </div>
        <div class="row">
        <div class="large-12 columns">
          <div class="large-6 large-offset-3 columns"></div>
        </div>
      </div>
    </div>







