      <div class="large-3 columns right">
          <a href="/signup" class="button [tiny small large] right">Sign Up</a>
          <a href="/signin" class="button [tiny small large] right">Login</a><br>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="panel">
          <p></p>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <p></p>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="panel">
          <p></p>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="panel">
          <div class="text-center">
            <p></p>
          </div>
        </div>
      </div>