
      <div class="large-3 columns">
        <div class=""></div>
      </div>
      <div class="large-6 large-offset-3 columns">
        <div class="panel">
          <form>
            <fieldset>
              <legend>Login to Your Account</legend>
                <form action='/signin' method='post'>
              <!-- <label>Choose Username -->
                <input type="text" placeholder="Username">
              <!-- </label> -->
              <!-- <label>Choose Password -->
                <input type="password" placeholder="Password">
              <!-- </label> -->
              
              <input type="submit" class="button" name="login" value="login">
                </form>
              <a href="index.html" class="button">Return to Home</a>
              <div data-alert class="alert-box alert radius">
                <% if flash[:alert] %>
                  Alert: <%= flash[:alert] %>
                <% end %>
                <a href="#" class="close">&times;</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="large-3 columns">
        <div class=""></div>
      </div>
    
