      <div class="row">
        <div class="large-12 columns">          
          <div class="large-3 columns">
            <div class=""></div>
          </div>
          <div class="large-6 large-offset-3 columns">
            <div class="panel">
              <form action='/signup' method='/post'>
                <fieldset>
                  <legend>Create Your Account</legend>

                  <label>Choose Username
                    <input type="text" placeholder="Username">
                  </label>
                  <label>Choose Password
                    <input type="password" placeholder="Password">
                  </label>
                  <label>Confirm Password
                    <input type="password" placeholder="Confirm Password">
                  </label>
                  <input type="submit" class="button create-account-button " name="submit" value="Create Account">
                  <a href="index.html" class="button return-to-login-button">Return to Login</a>
                  <div data-alert class="alert-box alert radius">
                    <% if flash[:alert] %>
                      Alert: <%= flash[:alert] %>
                    <% end %>
                    <a href="#" class="close">&times;</a>
                  </div>
                  
                </fieldset>
              </form>
            </div>
          </div>
          <div class="large-3 columns">
            <div class=""></div>
          </div>
        </div>
      </div>
    