<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URPS - SIGN IN</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>URPS</h1>
        <h6>Let's Get It On!</h6>
      </div>

      <div class="large-3 columns">
        <div class=""></div>
      </div>
      <div class="large-6 large-offset-3 columns">
        <div class="panel">
          <form>
            <fieldset>
              <legend>Login to Your Account</legend>
                <form action='/signin' method='post'>
              <!-- <label>Choose Username -->
                <input type="text" placeholder="Username">
              <!-- </label> -->
              <!-- <label>Choose Password -->
                <input type="password" placeholder="Password">
              <!-- </label> -->
              
              <input type="submit" class="button" name="login" value="login">
                </form>
              <a href="index.html" class="button">Return to Home</a>
              <div data-alert class="alert-box alert radius">
                <% if flash[:alert] %>
                  Alert: <%= flash[:alert] %>
                <% end %>
                <a href="#" class="close">&times;</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="large-3 columns">
        <div class=""></div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
