<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URPS - SIGN UP</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        
        <div class="row">
        <div class="large-12 columns">
          <div class="large-6 large-offset-3 columns">
            <div class="top-mar">
              <img id="splash-image" src="../images/URPS.png" alt="URPS Logo" width="400">

              <h3 class="text-center">Ultimate Rock Paper Scissors</h3>
              <h1 class="text-center">Let's Get It On!</h1>
              <br><br>
              <!-- <div class="large-8columns"> -->
                <a href="/signin" class="button expand login-button">Login</a><a href="/signup" class="button expand signup-button">Sign Up</a> 
             <!--  </div> -->
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>





